@model Cognite.Arb.Web.Models.Account.ResetSecurePhraseViewModel
@{
    ViewBag.Title = "Reset secure phrase";
}

<div class="large-4 large-centered columns">
    <!-- Begin Body Content -->
    @using (Html.BeginForm("ResetSecurePhrase", "Account", FormMethod.Post, new { @class = "custom", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="box login">
            <h4>Reset Secure Phrase</h4>
            <div class="row">
                <div class="large-12 columns">
                    @Html.HiddenFor(m => m.ResetToken)
                    @Html.ValidationSummary("", new { @class = "validation-errors" })
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.SecurePhrase, new { @class = "inline", @for = "phrase" })
                    @Html.PasswordFor(m => m.SecurePhrase, new { @placeholder = "Type your new secure phrase...", @tabindex = 1, autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.SecurePhrase, "", new { @class = "validation-error" })
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.ConfirmSecurePhrase, new { @class = "inline", @for = "phrase-confirm" })
                    @Html.PasswordFor(m => m.ConfirmSecurePhrase, new { @placeholder = "Re-type your new secure phrase...", @tabindex = 2 })
                    @Html.ValidationMessageFor(m => m.ConfirmSecurePhrase, "", new { @class = "validation-error" })
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" class="button small radius full-width" value="Reset" tabindex="3" />
                </div>
            </div>
        </div>
    }
    <!-- End Body Content -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}